<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <form action="/add" method="POST" >
        <label for="gameName">Add Game: </label>
        <input type="text" id="gameName" name="gameName">
        <label for="genre">Add Genre: </label>
        <input type="text" id="genre" name="genre">
        <button type="submit">Submit</button>
    </form>
    
    <a href="/">Back to home</a>
</body>
</html>