<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <form action="games.ejs" method="post" >
        <label for="game">Add Game: </label>
        <input type="text" id="game" name="game">
        <input type="submit" value="submit">
    </form>
    <ul>
        <li>Pokemon</li>
        <li>Mario Party</li>
        <li>Zelda</li>
    </ul>
    <%= foobar %>
</body>
</html>